/**
ベースメニューのスタイル 
**/

/* トップヘッダー背景色 */
.main-header{background-color:#343a40;}

/* トップヘッダー文字色 */
a.nav-link{color: #fff !important;font-size: 18px;}

/* ロゴ調整 */
.main-sidebar img{width: 50px;margin: 7px 0 0 5px;}

/* メインコンテンツ位置調整 */
.card-primary{margin-top: 10px;}

/* テキストエリアのサイズ変更不可 */
textarea{resize: none;}

/* フッター位置調整 */
footer{text-align:center;}


/* ログイン名フォント調整 */
b,strong{font-weight:bolder;font-size:28px;}
small{font-size:80%}

/* ログインボックスの位置 */
.login-page,.register-page{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;height:100vh;-ms-flex-pack:center;justify-content:center} 

/* ログインボックスの幅 */
/* .login-box,.register-box */
.login-box,.register-box
{
    max-width:360px;
    height: 500px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* ログイン画面背景色 */
.login-page, .register-page {background-color: #ffffff !important;}

/* ログインアイコン */
.login-logo img{width: 180px;}

/* 売上ポイント入力ボックスサイズ */
.inbox-size{max-width:1300px;margin:6% auto;}

/* 売上ポイント入力画面バックグラウンドカラー */
.content-wrapper{background-color: #ffffff;}

/* インプットボックスのマージン */
.form-group{margin-bottom: 30px;}


/* パスワード記憶 */
.form-check {text-align: center;}

/* ログイン入力ボックスマージン調整 */
.input-group {margin-top: 30px!important;}

.re-p {margin-top: 10px;}

ログイン・会員登録リンク
a.nav-link{color: #000 !important;}

a.nav-link {font-size: 18px;}

/* 会員登録ボタン */
.signup-btn{margin-top: 30px;}

ul.nav-item {list-style: none!important;}


/* 販売ポイント入力画面調整 */

.card{box-shadow: none;}

.short-link{padding-top: 7px;}


/* フッター下非表示 */
/* .sidebar-mini main{display: none;}

.sidebar-mini .container{display: none;} */


b, strong {
    font-size: 20px;
}

.content-wrapper {background-color: #ffffff};

/* バリデーションエラー表示 */
/* p.error_message {color: #e74c3c!important;margin: 10px 0 0 0;} */
/* p.error_message_in {
    margin-top: 0;
    margin-bottom: 1rem;
    color: red;
} */

/* ボタン */
.card-footer {background-color: #fff!important;}